<div class="container mt-3">
    <div class="row row-cols-2 row-cols-md-6 g-4">
        <div class="col">
            <div class="square">T1</div>
        </div>
        <div class="col">
            <div class="square">T2</div>
        </div>
        <div class="col">
            <div class="square square-engged">T3</div>
        </div>
           <div class="col">
            <div class="square">T1</div>
        </div>
        <div class="col">
            <div class="square">T2</div>
        </div>
        <div class="col">
            <div class="square">T3</div>
        </div>
        <div class="col">
            <div class="square square-engged">T3</div>
        </div>
           <div class="col">
            <div class="square">T1</div>
        </div>
        <div class="col">
            <div class="square">T2</div>
        </div>
        <div class="col">
            <div class="square">T3</div>
        </div>
        <div class="col">
            <div class="square square-engged">T3</div>
        </div>
        
        <!-- Repeat the above 'div' structure for T4 to T20 -->
    </div>
</div>