.square {
    background-color: #0000000d;
    border: 1px solid grey;
    border-radius: 5px;
    height: 60px;   
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}
.square-engged  
{
    background-color: gray;
    color: blanchedalmond;
    border:none;

}